In [ ]:
# Installing required packages
!pip install pyspark
!pip install findspark
!pip install pyarrow==0.14.1
!pip install pandas
!pip install numpy==1.19.5

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: findspark in /usr/local/lib/python3.10/dist-packages (2.0.1)
ERROR: Could not find a version that satisfies the requirement pyarrow==0.14.1 (from versions: 0.9.0, 0.10.0, 0.11.0, 0.11.1, 0.12.0, 0.12.1, 0.13.0, 0.14.0, 0.15.1, 0.16.0, 0.17.0, 0.17.1, 1.0.0, 1.0.1, 2.0.0, 3.0.0, 4.0.0, 4.0.1, 5.0.0, 6.0.0, 6.0.1, 7.0.0, 8.0.0, 9.0.0, 10.0.0, 10.0.1, 11.0.0, 12.0.0, 12.0.1, 13.0.0)
ERROR: No matching distribution found for pyarrow==0.14.1
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting numpy==1.19.5
  Using cached numpy-1.19.5.zip (7.3 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: numpy
  Building wheel for numpy (pyproject.toml) ... canceled
ERROR: Operation cancelled by user

In [ ]:
import findspark
findspark.init()

In [ ]:
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [ ]:
# Creating a spark context class
sc = SparkContext()

# Creating a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark DataFrames basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [ ]:
spark

In [ ]:
from pyspark.sql.types import *

customSchema = StructType([
    StructField("ngram", StringType(), True),
    StructField("Year", IntegerType(), True),
    StructField("Count", IntegerType(), True),
    StructField("Pages", IntegerType(), True),
    StructField("Books", IntegerType(), True)])

df = spark.read.format("csv") \
    .option("header", "false") \
    .option("delimiter", "\t") \
    .schema(customSchema) \
    .load("ngram.csv")

df.show()

+--------+----+-----+-----+-----+
|   ngram|Year|Count|Pages|Books|
+--------+----+-----+-----+-----+
|! $17.95|1985|    1|    1|    1|
|! $17.95|1987|    1|    1|    1|
|! $17.95|1990|    1|    1|    1|
|! $17.95|1991|    1|    1|    1|
|! $17.95|1992|    5|    5|    5|
|! $17.95|1993|    2|    2|    2|
|! $17.95|1995|    1|    1|    1|
|! $17.95|1996|    4|    2|    2|
|! $17.95|1997|    6|    5|    5|
|! $17.95|1998|    4|    3|    3|
|! $17.95|1999|   11|   10|   10|
|! $17.95|2000|   11|    9|    9|
|! $17.95|2001|    5|    4|    4|
|! $17.95|2002|    5|    5|    5|
|! $17.95|2003|    2|    2|    2|
|! $17.95|2004|   14|   14|   14|
|! $17.95|2005|   13|   13|   13|
|! $17.95|2006|    5|    5|    5|
|! $17.95|2007|    2|    2|    2|
|! $17.95|2008|    2|    2|    2|
+--------+----+-----+-----+-----+
only showing top 20 rows

In [ ]:
print(df.columns)

['ngram', 'Year', 'Count', 'Pages', 'Books']

In [ ]:
df.registerTempTable("ngrams")

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [ ]:
from pyspark import SparkConf, SparkContext, SQLContext
sqlContext = SQLContext(sc)
print("hey")

hey

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
# 3.1) Retourner tous les bi-grammes dont le nombre Count est supérieur à cinq.
result_3_1_sql = spark.sql("SELECT * FROM ngrams WHERE Count > 5")
result_3_1_df = df.filter(df.Count > 5)
result_3_1_sql.show()
print("**********************")
result_3_1_df.show()

+--------+----+-----+-----+-----+
|   ngram|Year|Count|Pages|Books|
+--------+----+-----+-----+-----+
|! $17.95|1997|    6|    5|    5|
|! $17.95|1999|   11|   10|   10|
|! $17.95|2000|   11|    9|    9|
|! $17.95|2004|   14|   14|   14|
|! $17.95|2005|   13|   13|   13|
|    ! 09|1899|    6|    6|    5|
|    ! 09|1916|    7|    7|    4|
|    ! 09|1936|    6|    6|    6|
|    ! 09|1997|    6|    5|    5|
|    ! 09|1999|   11|   10|   10|
|    ! 09|2000|   11|    9|    9|
|    ! 09|2004|   14|   14|   14|
|    ! 09|2005|   13|   13|   13|
+--------+----+-----+-----+-----+

**********************
+--------+----+-----+-----+-----+
|   ngram|Year|Count|Pages|Books|
+--------+----+-----+-----+-----+
|! $17.95|1997|    6|    5|    5|
|! $17.95|1999|   11|   10|   10|
|! $17.95|2000|   11|    9|    9|
|! $17.95|2004|   14|   14|   14|
|! $17.95|2005|   13|   13|   13|
|    ! 09|1899|    6|    6|    5|
|    ! 09|1916|    7|    7|    4|
|    ! 09|1936|    6|    6|    6|
|    ! 09|1997|    6|    5|    5|
|    ! 09|1999|   11|   10|   10|
|    ! 09|2000|   11|    9|    9|
|    ! 09|2004|   14|   14|   14|
|    ! 09|2005|   13|   13|   13|
+--------+----+-----+-----+-----+

In [ ]:
# 3.2) Retourner le nombre total de bi-grammes dans chaque année.
result_3_2_sql = spark.sql("SELECT Year, COUNT(*) as Total FROM ngrams GROUP BY Year")
result_3_2_df = df.groupBy("Year").count()
result_3_2_sql.show()
result_3_2_df.show()

+----+-----+
|Year|Total|
+----+-----+
|1829|    1|
|1990|    2|
|1903|    1|
|1884|    1|
|1888|    1|
|1924|    1|
|2003|    2|
|1823|    1|
|2007|    2|
|1869|    1|
|1892|    1|
|1889|    1|
|1927|    1|
|1866|    1|
|1877|    1|
|2006|    2|
|1908|    1|
|1925|    1|
|1824|    1|
|1848|    1|
+----+-----+
only showing top 20 rows

+----+-----+
|Year|count|
+----+-----+
|1829|    1|
|1990|    2|
|1903|    1|
|1884|    1|
|1888|    1|
|1924|    1|
|2003|    2|
|1823|    1|
|2007|    2|
|1869|    1|
|1892|    1|
|1889|    1|
|1927|    1|
|1866|    1|
|1877|    1|
|2006|    2|
|1908|    1|
|1925|    1|
|1824|    1|
|1848|    1|
+----+-----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import desc
from pyspark.sql.functions import col, dense_rank, desc, countDistinct, window
from pyspark.sql.window import Window

result_3_3_sql = spark.sql("SELECT * FROM (SELECT *, dense_rank() OVER (PARTITION BY Year ORDER BY Count DESC) as rnk FROM ngrams) WHERE rnk = 1")

result_3_3_df = df.withColumn("rnk", dense_rank().over(Window.partitionBy("Year").orderBy(desc("Count")))).filter(col("rnk") == 1)
result_3_3_sql.show()
result_3_3_df.show()

+-----+----+-----+-----+-----+---+
|ngram|Year|Count|Pages|Books|rnk|
+-----+----+-----+-----+-----+---+
| ! 09|1780|    1|    1|    1|  1|
| ! 09|1803|    1|    1|    1|  1|
| ! 09|1806|    1|    1|    1|  1|
| ! 09|1823|    1|    1|    1|  1|
| ! 09|1824|    1|    1|    1|  1|
| ! 09|1825|    1|    1|    1|  1|
| ! 09|1829|    3|    3|    3|  1|
| ! 09|1830|    2|    2|    2|  1|
| ! 09|1831|    1|    1|    1|  1|
| ! 09|1833|    1|    1|    1|  1|
| ! 09|1834|    4|    4|    4|  1|
| ! 09|1836|    1|    1|    1|  1|
| ! 09|1839|    1|    1|    1|  1|
| ! 09|1840|    1|    1|    1|  1|
| ! 09|1841|    2|    2|    2|  1|
| ! 09|1845|    1|    1|    1|  1|
| ! 09|1847|    2|    2|    2|  1|
| ! 09|1848|    1|    1|    1|  1|
| ! 09|1856|    1|    1|    1|  1|
| ! 09|1857|    2|    2|    2|  1|
+-----+----+-----+-----+-----+---+
only showing top 20 rows

+-----+----+-----+-----+-----+---+
|ngram|Year|Count|Pages|Books|rnk|
+-----+----+-----+-----+-----+---+
| ! 09|1780|    1|    1|    1|  1|
| ! 09|1803|    1|    1|    1|  1|
| ! 09|1806|    1|    1|    1|  1|
| ! 09|1823|    1|    1|    1|  1|
| ! 09|1824|    1|    1|    1|  1|
| ! 09|1825|    1|    1|    1|  1|
| ! 09|1829|    3|    3|    3|  1|
| ! 09|1830|    2|    2|    2|  1|
| ! 09|1831|    1|    1|    1|  1|
| ! 09|1833|    1|    1|    1|  1|
| ! 09|1834|    4|    4|    4|  1|
| ! 09|1836|    1|    1|    1|  1|
| ! 09|1839|    1|    1|    1|  1|
| ! 09|1840|    1|    1|    1|  1|
| ! 09|1841|    2|    2|    2|  1|
| ! 09|1845|    1|    1|    1|  1|
| ! 09|1847|    2|    2|    2|  1|
| ! 09|1848|    1|    1|    1|  1|
| ! 09|1856|    1|    1|    1|  1|
| ! 09|1857|    2|    2|    2|  1|
+-----+----+-----+-----+-----+---+
only showing top 20 rows

In [ ]:
# 3.4) Retourner tous les bi-grammes qui sont apparus dans 20 années différentes.
result_3_4_sql = spark.sql("SELECT ngram FROM (SELECT ngram, COUNT(DISTINCT Year) as num_years FROM ngrams GROUP BY ngram) WHERE num_years = 20")
result_3_4_df = df.groupBy("ngram").agg(countDistinct("Year").alias("num_years")).filter(col("num_years") == 20)
result_3_4_sql.show()
result_3_4_df.show()

+--------+
|   ngram|
+--------+
|! $17.95|
+--------+

+--------+---------+
|   ngram|num_years|
+--------+---------+
|! $17.95|       20|
+--------+---------+

In [ ]:
# 3.5) Retourner tous les bi-grammes qui contiennent le caractère ‘!’ dans la première partie et le caractère ‘9’ dans la deuxième partie.
from pyspark.sql.functions import col
result_3_5_sql = spark.sql("SELECT * FROM ngrams WHERE ngram LIKE '%!% 9%' ESCAPE '!'")
result_3_5_sql.show()
result_3_5_df = df.filter((col("ngram").like("%!% 9%")))
result_3_5_df.show()

+-----+----+-----+-----+-----+
|ngram|Year|Count|Pages|Books|
+-----+----+-----+-----+-----+
+-----+----+-----+-----+-----+

+-----+----+-----+-----+-----+
|ngram|Year|Count|Pages|Books|
+-----+----+-----+-----+-----+
+-----+----+-----+-----+-----+

+-----+----+-----+-----+-----+
|ngram|Year|Count|Pages|Books|
+-----+----+-----+-----+-----+
+-----+----+-----+-----+-----+

In [ ]:
result_3_6_sql = spark.sql("SELECT ngram FROM ngrams GROUP BY ngram HAVING COUNT(DISTINCT Year) = (SELECT COUNT(DISTINCT Year) FROM ngrams)")
result_3_6_sql.show()
result_3_6_df = df.groupBy("ngram").agg(countDistinct("Year").alias("num_years")).filter(col("num_years") == df.select('Year').distinct().count())
result_3_6_df.show()

+-----+
|ngram|
+-----+
| ! 09|
+-----+

+-----+---------+
|ngram|num_years|
+-----+---------+
| ! 09|      100|
+-----+---------+

In [ ]:
# 3.7) Retourner le nombre total de pages et de livres dans lesquels chaque bi-gramme apparaît pour chaque année disponible, trié par ordre alphabétique.
result_3_7_sql = spark.sql("SELECT ngram, Year, SUM(Pages) as Total_Pages, SUM(Books) as Total_Books FROM ngrams GROUP BY ngram, Year ORDER BY ngram")
result_3_7_df = df.groupBy("ngram", "Year").agg({"Pages": "sum", "Books": "sum"}).orderBy("ngram")
result_3_7_sql.show()
result_3_7_df.show()

+--------+----+-----------+-----------+
|   ngram|Year|Total_Pages|Total_Books|
+--------+----+-----------+-----------+
|! $17.95|2002|          5|          5|
|! $17.95|2007|          2|          2|
|! $17.95|1985|          1|          1|
|! $17.95|1990|          1|          1|
|! $17.95|1993|          2|          2|
|! $17.95|2003|          2|          2|
|! $17.95|2000|          9|          9|
|! $17.95|2005|         13|         13|
|! $17.95|1999|         10|         10|
|! $17.95|1992|          5|          5|
|! $17.95|1996|          2|          2|
|! $17.95|1997|          5|          5|
|! $17.95|1995|          1|          1|
|! $17.95|1987|          1|          1|
|! $17.95|2004|         14|         14|
|! $17.95|2006|          5|          5|
|! $17.95|1998|          3|          3|
|! $17.95|1991|          1|          1|
|! $17.95|2008|          2|          2|
|! $17.95|2001|          4|          4|
+--------+----+-----------+-----------+
only showing top 20 rows

+--------+----+----------+----------+
|   ngram|Year|sum(Pages)|sum(Books)|
+--------+----+----------+----------+
|! $17.95|2002|         5|         5|
|! $17.95|2007|         2|         2|
|! $17.95|1985|         1|         1|
|! $17.95|1990|         1|         1|
|! $17.95|1993|         2|         2|
|! $17.95|2003|         2|         2|
|! $17.95|2000|         9|         9|
|! $17.95|2005|        13|        13|
|! $17.95|1999|        10|        10|
|! $17.95|1992|         5|         5|
|! $17.95|1996|         2|         2|
|! $17.95|1997|         5|         5|
|! $17.95|1995|         1|         1|
|! $17.95|1987|         1|         1|
|! $17.95|2004|        14|        14|
|! $17.95|2006|         5|         5|
|! $17.95|1998|         3|         3|
|! $17.95|1991|         1|         1|
|! $17.95|2008|         2|         2|
|! $17.95|2001|         4|         4|
+--------+----+----------+----------+
only showing top 20 rows

In [ ]:
result_3_8_sql = spark.sql("SELECT Year, COUNT(DISTINCT ngram) as num_distinct_ngrams FROM ngrams GROUP BY Year ORDER BY Year DESC")
result_3_8_sql.show()
from pyspark.sql.functions import countDistinct

result_3_8_df = df.groupBy("Year").agg(countDistinct("ngram").alias("num_distinct_ngrams")).orderBy("Year", ascending=False)
result_3_8_df.show()

+----+-------------------+
|Year|num_distinct_ngrams|
+----+-------------------+
|2008|                  2|
|2007|                  2|
|2006|                  2|
|2005|                  2|
|2004|                  2|
|2003|                  2|
|2002|                  2|
|2001|                  2|
|2000|                  2|
|1999|                  2|
|1998|                  2|
|1997|                  2|
|1996|                  2|
|1995|                  2|
|1993|                  2|
|1992|                  2|
|1991|                  2|
|1990|                  2|
|1987|                  2|
|1985|                  2|
+----+-------------------+
only showing top 20 rows

+----+-------------------+
|Year|num_distinct_ngrams|
+----+-------------------+
|2008|                  2|
|2007|                  2|
|2006|                  2|
|2005|                  2|
|2004|                  2|
|2003|                  2|
|2002|                  2|
|2001|                  2|
|2000|                  2|
|1999|                  2|
|1998|                  2|
|1997|                  2|
|1996|                  2|
|1995|                  2|
|1993|                  2|
|1992|                  2|
|1991|                  2|
|1990|                  2|
|1987|                  2|
|1985|                  2|
+----+-------------------+
only showing top 20 rows